@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
*{font-family: "Poor Story", system-ui;}
html{
margin: 0 auto;
padding: 0 auto;
box-sizing: border-box;
background-color: rgb(255, 242, 198);
}
body{
background-image: url(https://tinyurl.com/23vt2hv8);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
width: 100%;
height: 96vh;
}
article{
background-color: white;
width: 600px;
height: 50em;
transform: translateX(100%) translateY(10%);
border-radius: 50px;
padding-top: 0.5em;
}
img{
    border-radius: 50%;
    border: 5px groove rgb(255, 166, 0);
    transform: translateX(70%);
    width: 15em;
}
h3, p{
text-align: center;
margin-bottom: 20px;
}
h3{
color: rgb(109, 44, 0);
font-size: xx-large;
width: 300px;
padding: 15px;
background-color: rgb(219, 181, 125);
border-radius: 20px;
transform: translateX(40%);
}
span{
font-size: small;
}
button{
    color: rgb(109, 44, 0);
    font-size: xx-large;
    font-weight:bold;
    width: 300px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border: 3px dotted rgb(255, 123, 0);
    border-radius: 20px;
    transform: translateX(47%);
    margin: 10px;
}
button:hover{
    color: white;
    background-color: rgb(255, 123, 0);
    border: 3px dotted rgb(109, 53, 0);
}
